@charset "UTF - 8";
/*inserindo identidade dentro do css
dentro de um h1 por exemplo podemos dar diferentes classes para 
deixar com diferentes configurações.
inserir class dentro do h1
Em HTML TUDO O QUE É ID em CSS   É O MESMO QUE #
Em HTML TUDO QUE É CLASS EM CSS É .
HTML id CSS #
HTML class = . em CSS
Quando se quer usar uma mesma configuração para outros elementos é necessário utilizar a configuração class, o id não pode ser usado para diversas configurações apenas para uma.
*/
body{
    background-color: rgb(205, 255, 203);
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(4, 109, 0);
}
h1#princial{
    text-align: center;
    background-color:rgb(4, 109, 0);
    color:white
}
h2{
    color:rgb(51, 77, 49);
}

.basico{
    color: #3c805e;
    font-weight: bold;
}
.intermediario{
    color:#80793c;
}
.avancado{
    color:#803c3c;
}
.destaque{
    background-color: rgb(197,197,96,0.438);
}
